.container {
	margin-top: 230px;
}

.header {
	font-size: 64px;
	margin-bottom: 8px;
}

.subheader {
	margin: 0 auto 64px;
	font-style: italic;
	font-size: 24px;
	opacity: 0.7;
}

.listHeader {
	width: fit-content;
	font-size: 20px;
	margin: 0 auto 8px;
	padding-bottom: 2px;
	border-bottom: 1px solid #ccc;
}

.navigation {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.navItem {
	width: fit-content;
	margin: 0 auto;
	list-style-type: disc;
	color: #7a80fc;
}
