.container {
	margin-top: 230px;
}

.header {
	font-size: 48px;
	margin-bottom: 16px;
}

.slogan {
	margin: 0 auto 64px;
	font-style: italic;
	font-size: 18px;
	opacity: 0.8;
}

.listHeader {
	font-size: 20px;
	margin-bottom: 16px;
}

.navigation {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
