:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 100;
  background-color: #232323;
}

* {
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 300;
  font-size: 20px;
  color: #7a80fc;
  text-decoration: inherit;

  &:hover {
    color: #7279fc;
  }
}
