:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #232323;
  font-weight: 100;
}

* {
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 300;
  font-size: 20px;
  color: #7a80fc;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
