.container {
  margin-top: 230px;
}

.header {
  margin: 0 auto 8px;
}

.slogan {
  margin: 0;
  font-weight: normal;
}

.subheader {
  margin: 64px auto 8px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
