.container {
  margin-top: 5vh;
}

.header {
  margin: 0;

  @media (max-width: 768px) {
    margin: 40px 0 0;
  }
}

.info {
  text-align: justify;
  position: absolute;
  max-width: 230px;
  right: 5vw;
  top: 15vh;
  font-style: italic;

  @media (max-width: 768px) {
    display: none;
  }
}
